@{
    ViewData["Title"] = "О проекте";
}
<h1>@ViewData["Title"]</h1>
<p>Проект PixelDataApp помогает вам организовать базу данных для работы с фото</p>
<p>В дальнейшем вы можете использовать эту базу данных, например, для обучения нейронной сети</p>
<p>Проект выполнен в рамках курсовой работы по предмету "Объектно-ориентированной программирование" Пензенского Государственного Университета</p>
<p>Исходный код расположен в Github-репозитории <a href="https://github.com/Havlong/PixelData">PixelData</a></p>
<p>Реализовал Евгений <a href="https://github.com/Havlong">&lt;Havlong&gt;</a> Гришин</p>
