@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <h2>Проект PixelData нужен для сбора датасетов, основанных на фото</h2>
    <h2>База состоит из лейблов - категорий, к которым относятся фото</h2>
    <h2>Лейблы объединяются в группы с целью кластеризации вычислений</h2>
    <h2>Фото загружаются на сервер и получают свою категорию</h2>
</div>
