@{
    ViewData["Title"] = "Home Page";
}

<div class="card">
    <h1 class="card-header display-4 text-center">Добро пожаловать</h1>
    <div class="card-body">
        <div>Проект PixelData нужен для сбора датасетов, основанных на фото</div>
        <div>База состоит из лейблов - категорий, к которым относятся фото</div>
        <div>Лейблы объединяются в группы с целью кластеризации вычислений</div>
        <div>Фото загружаются на сервер и получают свою категорию</div>
    </div>
</div>
